* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    border-bottom: 2px solid #ddd;
    min-height: 6rem;
    position: fixed; 
    top: 0;          
    left: 0;
    width: 100%;     
    z-index: 1000;   
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 

}
.header-nav {
    display: flex;
    gap: 20px;
    align-items: center;
    margin:35px;
}

.nav:hover{
    background-color: #e0e0e0;

}

header .logo {
    height: 80px;
    margin-left: 35px;
}

.nav {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    border: 1px solid #000000;
    background-color: #f8f8f8b0;
}


.footer {
    background-color: #000;
    color: #fff;
    padding: 40px 20px;
}


.footer-container {
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}


.footer-section {
    flex: 1;
    text-align: center;
}


.footer-left .logo {
    width: 140px;
}


.footer-nav-links {
    margin-bottom: 15px;
}

.footer-nav {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 500;
}

.footer-nav:hover {
    text-decoration: underline;
}


.footer-center p {
    font-size: 14px;
    color: #ccc;
    margin: 6px 0;
}


.footer-right h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-right li {
    font-size: 14px;
    color: #ccc;
    margin: 4px 0;
}
