header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    border-bottom: 2px solid #ddd;
    min-height: 6rem;
    position: fixed; 
    top: 0;          
    left: 0;
    width: 100%;     
    z-index: 1000;   
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 

}
.header-nav {
    display: flex;
    gap: 20px;
    align-items: center;
    margin:35px;
}

.nav:hover{
    background-color: #e0e0e0;

}

.logo {
    height: 50px;
    margin-left: 35px;
}

.nav {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    border: 1px solid #000000;
    background-color: #f8f8f8b0;
}
