.products {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-inline: 5vh;
}

