.products {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-inline: 5vh;
}

.about-us {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
    font-size: 1.2rem;
    line-height: 1.6;
}

.kontakt-form {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.kontakt-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: space-between;
}

.kontakt-message {
    display: flex;
    flex-direction: row;
    

}