.slevy {
    background-color: red;
    color: yellow;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 5vh;
}

.slevy:hover {
    font-size:1.5rem;
}

.steps {
    display: flex;
    padding: 20px 0;
    margin-top: 4vh;
    font-weight: bold;
    border-bottom: 1px solid;
    justify-content: space-around;
    background-color: rgb(247, 247, 247);
}

.steps .active {
    background-color: #95d8ff71;
    min-height: 5vh;
    z-index: 997;
    border-radius: 10px;
}

.steps-list {
    list-style: none;
    max-width: 1200px;
    margin: auto auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 1vh;
}

.steps span {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    padding: 6px 12px;
    font-size: larger;
}

.product-card-small {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    max-width: 20vh;
    max-height: fit-content;
    margin-top: 10vh;
    justify-content: center;
}

.product-image-small img {
    width: 100%;
    height: 120px;
    object-fit: scale-down;
    display: block;
}


.product-summary {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}


.product-summary {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.product-list {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.product-card-small {
    width: 100%;
    max-width: 400px;
}



.order-summary {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    margin-top: 10vh;
}

.next {
    background-color: rgb(104, 139, 255);
    padding: 10px 30px;
    color: white;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 7vh;
    border: darkblue 1px solid;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 7vh;
}

.buttons a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    padding: 6px 12px;
    transition: background-color 0.3s;
    font-size: larger;
}

.buttons a:hover {
    border-radius: 4px;
}

.cancel {
    padding: 10px 30px;
    background-color: rgb(224, 224, 224);
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 7vh;
    border: black 1px solid;
}

