<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../assets/css/main.css">
  <link rel="stylesheet" href="../assets/css/components.css">
</head>
<body>  

<footer>
    <a href="../index.html">
        <img src="../assets/img/logo.png" alt="Logo E-shopu" class="logo">
    </a>
    <br>
    <a href="../kontakt.html" class="footer-nav">Kontakt</a>
    <a href="../o-nas.html" class="footer-nav">O nás</a>
    <p>&copy; 2026 E-shop. Všechna práva vyhrazena.</p>
    <p>Křižíkova 1258, Frenštát pod Radhoštěm, 744 01</p>

    <div class="oteviraci-doba">
    <h2>Otevírací doba</h2>
    <ul>
        <li>Pondělí: 9:00 – 17:00</li>
        <li>Úterý: 9:00 – 17:00</li>
        <li>Středa: 9:00 – 17:00</li>
        <li>Čtvrtek: 9:00 – 17:00</li>
        <li>Pátek: 9:00 – 17:00</li>
        <li>Sobota: Zavřeno</li>
        <li>Neděle: Zavřeno</li>
    </ul>
    <div>

</footer>

  
</body>
<html>